#pokedexLateral {
    /* padding-left: 0%; */

    width: 360px;
    height: 320px;

    overflow-y: scroll;
    overflow-x: hidden;
}

#pokedexLateral > li {
    position: relative;

    border: 2px solid #B29A4C;
    box-shadow: 0 2px 2px rgba(228, 201, 62, 0.5);

    margin-top: 6px;
    margin-bottom: 6px;
    
    border-radius: 20px;

    list-style: none;

    padding-left: 0px;

    display: grid;
    grid-template-columns: 70% 30%;

    align-items: center;

    overflow: hidden;
}

#pokedexLateral > li:hover {
    border-color: #e4c93e;
    box-shadow: 0 2px 2px rgba(228, 201, 62, 0.5);
}

#pokedexLateral > li::before {
    /* content: attr(data-list-icon); */
}

#nPokedexLateralID {
    font-size: 55px;

    position: absolute;
    opacity: 30%;

    top: 5px;
    left: -70px;    
}